body {
  background-color: #f1f2f7;
  /* min-height: 100vh; */
}
  .header {
    display: flex;
    justify-content: start;
  }
  .container {
    text-align: center;
    max-width: 350px;
    /* height: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 350px;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  
  .logo img {
    height: 60px;
  }
  
  .signin-box {
    background-color: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .signin-title {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #1a2229;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f7faff;
    outline: none;
  }

  /* .recaptcha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f7faff;
  }
  
  .recaptcha input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #2abf9e;
  }
  
  .recaptcha label {
    font-size: 0.9em;
    color: #555;
  } */

  .options {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 15px;
  }
  
  .signin-button {
    background-color: #2abf9e;
    color: #ffffff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Responsive Styling */
  @media (max-width: 480px) {
    .signin-title {
      font-size: 1.2em;
      padding: 15px;
    }
  
    .signin-button {
      padding: 10px;
      font-size: 0.9em;
    }
  
    .options {
      flex-direction: column;
      align-items: center;
      font-size: 0.8em;
    }
  }
  